**/build
/lib
**/bin
**/bin2
*.ipch
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/.vs
/CMakeSettings.json
*.nohup
**/logs/*
**/log/*
*.log
/docs/logs
/docs/hare_*.conf
/docs/**/logs/
**/*.out
**/*.swp
